/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;
  display: grid;
  grid-gap: $spacing-unit/2;
  grid-template-columns: 1fr 1fr 1fr;

  @include media-query($on-laptop) {
    grid-template-columns: 1fr 1fr;
  }
  @include media-query($on-palm) {
    grid-template-columns: 1fr;
  }
  li {
    display: flex;
    flex-direction: column;
    align-items: center;

    .post-meta {
      margin-top: $spacing-unit/2;
    }
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color-dark;
}

.post-link {
  // display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header,
.hero-img {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.post-list-heading,
.post.h-entry,
.post-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.educationlist {
  list-style: none;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  gap: $spacing-unit*2;
}

.footerpost {
  margin: $spacing-unit auto;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: $spacing-unit/2;
  
  @include media-query($on-laptop) {
    display: block;
  }
}
